/*------------------------------------*\
    STYLE-AGILE
\*------------------------------------*/
/*
-----
aux.css overwrites and customizes general style.css
-----
GENERAL
HEADER
 $intro-statements
 $quotedArticleRightLeft
 $quotedArticleRight
 $illustratedParagraph (text on left/right)
 $single-column
persuasive-tells
is-puxm-right-for-you
single-column
table-layout
led-by-jared
roll-up-your-sleeves
expected-hours
this-intensive-won-t-happen-again-until-november
ready-to-do-this
FOOTER
I'll never try to be smarter with my CSS coding styles than Harry -> https://csswizardry.com/2012/04/my-html-css-coding-style/
*/

/*------------------------------------*\
    $GENERAL
\*------------------------------------*/

.sec-il img {
    max-width: 250px;
    min-width: 150px;
}

.heading-highlighted {
    font-family: league-gothic, sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 400;
    background-color: #4e4e4e;
    color: #ffffff;
    display: inline;
    padding: 3px 10px;
    margin: 0;
    line-height: 1.45;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.txt-right-on-desktop {
    text-align: right;
}

